{% include "header.html" %}
<title>Stage 2 Details</title>
{% block content %}
  <div class="container">
    <form action="{{ url_for('stage_4_details',s_id =s2.s_id ) }}" method="POST">

  <h5 class="display-5">Stage 1 : Transaction </h5>
  <table class="table table-hover">

     <thead class="thead-dark">
      <tr>
        <th scope="col">IID</th>
        <th scope="col">Entity Name</th>
        <th scope="col">Rumour date</th>
        <th scope="col">Announcement date</th>
        <th scope="col">S1 Analsyt</th>

      </tr>
    </thead>
    <tbody>

      <tr>
        <td scope="row">{{ trans.s_id }}</th>
        <td scope="row">{{ trans.entity_name }}</th>
        <td scope="row">{{ trans.rumour_date }}</th>
        <td scope="row">{{ trans.annoucement_date }}</th>
        <td scope="row">{{ trans.who_assigned }}</th>
      </tr>

    </tbody>
  </table>
      <h5 class="display-5">Stage 2 </h5>
      <table class="table table-hover">

         <thead class="thead-dark">
          <tr>
            <th scope="col">S2 Reviews</th>
            <th scope="col">S2 Date</th>
            <th scope="col">Chinese investor file no.</th>
            <th scope="col">Counterpart investor file no.</th>
            <th scope="col">S2 Analyst</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td scope="row">{{ s2.reviews }}</th>
            <td scope="row">{{ s2.date_assigned }}</th>
            <td scope="row">{{ s2.chin_inv_file_no }}</th>
            <td scope="row">{{ s2.counterpart_file_no }}</th>
            <td scope="row">{{ s2.who_assigned }}</th>
          </tr>

        </tbody>
  </table>
          <h5 class="display-5">Stage 3  </h5>
          <table class="table table-hover">

             <thead class="thead-dark">
              <tr>
                <th scope="col">S3 Reviews</th>
                <th scope="col">S3 Date</th>
                <th scope="col">Dataset type </th>
                <th scope="col">S3 Analyst</th>

              </tr>
            </thead>
            <tbody>

              <tr>
                <td scope="row">{{ s3.s_reviewsid }}</th>
                <td scope="row">{{ s3.date_assigned }}</th>
                <td scope="row">{{ s3.dataset_type }}</th>
                <td scope="row">{{ s3.who_assigned }}</th>
              </tr>

            </tbody>
          </table>

              <h5 class="display-5">Stage 4 </h5>
              <table class="table table-hover">

                 <thead class="thead-dark">
                  <tr>
                    <th scope="col">S4 Reviews</th>
                    <th scope="col">S4 Date</th>
                    <th scope="col">Chinese investor file no.</th>
                    <th scope="col">Counterpart investor file no.</th>
                    <th scope="col">S4 Analyst</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td scope="row">{{ s4.reviews }}</th>
                    <td scope="row">{{ s4.date }}</th>
                    <td scope="row">{{ s4.chin_inv_file_no }}</th>
                    <td scope="row">{{ s4.chin_inv_file_no }}</th>
                    <td scope="row">{{ s4.who_assigned }}</th>
                  </tr>

                </tbody>
              </table>

      {% endblock content %}
      <div class="form-group">
        <label for="exampleFormControlInput1">Select One of the following</label>
        <div class="row">
          <div class="col">
            <input class="form-check-input" type="radio" name="state" style="margin-left: 5px;" value="1">
              <label class="form-check-label" style="padding-left: 25px;">
                Done
              </label>
            <input class="form-check-input" type="radio" name="state" style="margin-left: 30px;" value="2">
              <label class="form-check-label" style="padding-left: 50px;">
                Redo
              </label>
                <br>
              </div>
              <br>
            </div>
     <button type="submit">Submit</button>
    </form>
  </div>
    </div>
  </form>
