{% include 'layout.html' %}

{% block content %}
<title>CHIA | Create Account</title>
<form action={{ url_for('create') }} method="POST">
  <div class="container">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" name="fname" placeholder="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="lname" placeholder="Last name">
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <input type="text" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="col">
        <input class="form-check-input" type="radio" name="language" value="1" checked>
          <label class="form-check-label">
            English Only
          </label>
        <input class="form-check-input" type="radio" name="language" style="margin-left: 20px;" value="2">
          <label class="form-check-label" style="padding-left: 40px;">
            English and Mandarin
          </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

{% endblock content %}
