{% with messages = get_flashed_messages(category_filter=['error']) %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger" role="alert">
      {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=['success']) %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-primary" role="alert">
      {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
