<!-- this layout is copied from the recommended starter template in the
official bootstrap docs here:
https://getbootstrap.com/docs/4.1/getting-started/introduction/ -->

<!-- Other things we're using in this project which we should mention
include the following:
* Bootstrap: using it for frontend prettiness. It's a popular tool
  that you should be familiar with if you're able to see this
  comment anyway. Link: getbootstrap.com
* Google Material Icon fonts: they're a really extensive bunch of
  ways of expressing what an action will do without having to
  write it out. Link: https://material.io/icons
* jQuery: it's a Javascript library which we'll use with 
  Bootstrap and independently to build something with
  pretty and responsive animations. Link: jquery.com
* Random people on StackOverflow: thanks for your contributions.
  We'll reference you as we use your work :)

-->
<!doctype html>
<html lang="en">
  {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"> -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  {% endblock head %}
</html>
