#my_header{

  width:100%;
  height:40px;
  margin:0px auto;
  font-size: :22px;
}

#my_menu{
  float:left;
  width: 25%;
  height:36px;
  margin-right:2%;
  }
#my_menu a{
  display:block;
  padding: 12px 8px;
  font-size:24px;
}

#my_content{
  margin: 20px auto;
  font-size:20px;
}
