{% include "header.html" %}
<div class="container">
  <h4 class="display-4">Stage3</h4>
    <body>
    <form action="{{ url_for('stage3') }}" method="POST">
      <div class="form-group">
        <label for="exampleFormControlInput1">S3 reviews </label>
        {{ form.csrf_token }}
        {{ form.S3_reviews(class_="form-control") }}
        <label for="exampleFormControlInput1">S3 date</label>
        {{ form.S3_date(class="form-control") }}
        <div class="row">
          <div class="col">
            <input class="form-check-input" type="radio" name="dataset_type" style="margin-left: 5px;" value="1" checked>
              <label class="form-check-label" style="padding-left: 25px;">
                Main
              </label>
            <input class="form-check-input" type="radio" name="dataset_type" style="margin-left: 30px;" value="2">
              <label class="form-check-label" style="padding-left: 50px;">
                Supplementary
              </label>
          </div>
        </div>



        <style>
        .hidden{
          display: none;
        }
        .hidden_counter{
          display:none;
        }
        </style>

        <input  type="checkbox" name="correspondence_req" id="idk" onclick="showHide()" />
        <label class="exampleFormControlInput1">Correspondence required</label>
        <div class="hidden">
        <br>
        <h5>
        <label>Correspondence required</label>
      </h5>
        <br>
        <div class="form-group">
        <label for="exampleFormControlInput1">Select Type of correspondence</label>
        <div class="row">
          <div class="col">
            <input class="form-check-input" type="radio" name="correspondence_type" style="margin-left: 5px;" value="1" checked>
              <label class="form-check-label" style="padding-left: 25px;">
                Primary Source
              </label>
            <input class="form-check-input" type="radio" name="correspondence_type" style="margin-left: 30px;" value="2">
              <label class="form-check-label" style="padding-left: 50px;">
                ASIC Report
              </label>
              <input class="form-check-input" type="radio" name="correspondence_type" style="margin-left: 30px;" value="2">
                <label class="form-check-label" style="padding-left: 50px;">
                  Property Record
                </label>
                <br>
                <label for="exampleFormControlInput1">What information do we need from correspondence?</label>
                  {{ form.correspondence_info(class_="form-control") }} <br>
                <label for="exampleFormControlInput1">What have you done already to find this information?</label>
                  {{ form.correspondence_done(class_="form-control") }}<br>

          </div>


          <script type= "text/javascript">
           function showHide(){
              var checkbox = document.getElementById("idk");
              var hiddeninputs = document.getElementsByClassName("hidden");

              for (var i = 0; i != hiddeninputs.length; i++){
                  if(checkbox.checked){
                      hiddeninputs[i].style.display = "block";
                    }
                    else {
                      hiddeninputs[i].style.display = "none";

                    }
                  }
           }
           </script>
        </div>

      </div>
      </div>

      <div class="row">
        <div class="col">
          <input class="form-check-input" type="radio" name="next_analyst_lang" style="margin-left: 5px;" value="1" checked>
            <label class="form-check-label" style="padding-left: 25px;">
              NEXT analyst MUST be a Chinese Speaker
            </label>
          <input class="form-check-input" type="radio" name="next_analyst_lang" style="margin-left: 30px;" value="2">
            <label class="form-check-label" style="padding-left: 50px;">
              NEXT analyst MUST-NOT be a Chinese Speaker
            </label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <input class="form-check-input" type="radio" name="redo_analyst_lang" style="margin-left: 5px;" value="1">
            <label class="form-check-label" style="padding-left: 25px;">
            REDO stage with Chinese speaker
            </label>
          <input class="form-check-input" type="radio" name="redo_analyst_lang" style="margin-left: 30px;" value="2">
            <label class="form-check-label" style="padding-left: 50px;">
                REDO stage with NON-Chinese speaker
            </label>
        </div>
      </div>
</form>

        {{ form.task_submitted(class_="btn btn-outline-primary") }}




    </body>
