{% include "header.html" %}
<div class="container">
  <h4 class="display-4">Edit a Task</h4>
    <body>
    <form action="{{ url_for('edit_task', id=t.id) }}" method="POST">
      <div class="form-group">
        <label for="exampleFormControlInput1">Nickname</label>
        {{ form.csrf_token }}
        {{ form.nickname(class_="form-control") }}
        <label for="exampleFormControlInput1">Date Start</label>
        {{ form.date_start(class="form-control") }}
        <label for="exampleFormControlInput1">Date End</label>
        {{ form.date_end(class="form-control") }}
        <label for="exampleFormControlInput1">Search Term Used</label>
        {{ form.search_term(class="form-control") }}
        <label for="exampleFormControlInput1">Who owns the dataset?</label>
        {{ form.dataset_owner(class_="form-control") }}
        {{ form.task_submitted(class_="btn btn-outline-primary") }}

        <br>
        <h5 class="display-5">Transactions</h5><a href="someJSWhichPopsUpANewForm()"><i class="material-icons"
          style="font-size: 36px">add_box</i></a><br>
        <label for="exampleFormControlInput1">What's the entity name?</label>
        {{ trans.csrf_token }}
        {{ trans.entity_name(class_="form-control") }}
        <label for="exampleFormControlInput1">What was the rumour date?</label>
        {{ trans.rumour_date(class_="form-control") }}
        <label for="exampleFormControlInput1">What was the annoucement date?</label>
        {{ trans.anouncement_date(class_="form-control") }}
        <label for="exampleFormControlInput1">Mandarin skills required?</label>
        {{ trans.mandarin(class_="form-control") }}
        <label for="exampleFormControlInput1">Amount?</label>
        {{ trans.amount(class_="form-control") }}
        <label for="exampleFormControlInput1">Manually allocate users?</label>
        {{ trans.who_assigned(class_="form-control") }}
        {{ trans.trans_submitted(class_="btn btn-outline-primary") }}
      </div>


      <!-- <button class="" type="submit">Edit task</button> -->
    </form>
    </body>
