{% include "header.html" %}

<div class="container">
  <h4 class="display-4">Edit a Task</h4>
    <body onload="dateformat()">
    <form action="{{ url_for('edit_task', id=t.id) }}" method="POST">
      <div class="form-group">
        <label for="exampleFormControlInput1">Nickname</label>
        {{ form.csrf_token }}
        {{ form.nickname(class_="form-control") }}
        <label for="datestart">Date Start</label>
        {{ form.date_start(class="form-control") }}
        <label for="dateend">Date End</label>
        {{ form.date_end(class="form-control") }}
        <label for="exampleFormControlInput1">Who is assigned?</label>
        {{ form.who_assigned(class="form-control") }}
        <p>Note: this table will present a number of options, and the selected option
          is the top one is selected by default.</p>
        <table id="users"></table>
        <label for="exampleFormControlInput1">Who owns the dataset?</label>
        {{ form.dataset_owner(class_="form-control") }}
        {{ form.task_submitted(class_="btn btn-outline-primary") }}
        {{ form.who_assigned_real() }}

        {{ form.csrf_token }}
        {% if form.nickname.errors %}
          {{ form.nickname.errors[0] }}
        {% endif %}
        {% if form.date_start.errors %}
          {{ form.date_start.errors[0] }}
        {% endif %}
        {% if form.date_end.errors %}
          {{ form.date_end.errors[0] }}
        {% endif %}
        {% if form.who_assigned.errors %}
          {{ form.who_assigned.errors[0] }}
        {% endif %}
        {% if form.dataset_owner.errors %}
          {{ form.dataset_owner.errors[0] }}
        {% endif %}

        <br>
        <!-- <h5 class="display-5">Transactions</h5><a href="someJSWhichPopsUpANewForm()"><i class="material-icons"
          style="font-size: 36px">add_box</i></a><br>
        <label for="exampleFormControlInput1">What's the entity name?</label>
        {{ trans.csrf_token }}
        {{ trans.entity_name(class_="form-control") }}
        <label for="exampleFormControlInput1">What was the rumour date?</label>
        {{ trans.rumour_date(class_="form-control") }}
        <label for="exampleFormControlInput1">What was the annoucement date?</label>
        {{ trans.anouncement_date(class_="form-control") }}
        <label for="exampleFormControlInput1">Mandarin skills required?</label>
        {{ trans.mandarin(class_="form-control") }}
        <label for="exampleFormControlInput1">Amount?</label>
        {{ trans.amount(class_="form-control") }}
        <label for="exampleFormControlInput1">Manually allocate users?</label>
        {{ trans.who_assigned(id_="search_user", class_="form-control") }}
        {{ trans.trans_submitted(class_="btn btn-outline-primary") }}
      </div> -->

      <h5 class="display-5">Related Transactions</h5>
      <table class="table table-hover">
         <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Entity Name</th>
            <th scope="col">Edit</th>
            <!-- <th scope="col"></th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Mandarin Skills?</th>
            <th scope="col">Admin?</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th> -->
          </tr>
        </thead>
        <tbody>
        {% for trans in related_trans %}
          <tr>
            <td scope="row">{{ trans.s_id }}</th>
            <td scope="row">{{ trans.entity_name }}</th>
            <td scope="row"><a role="button" href="{{ url_for('edit_transaction', id=trans.s_id)}}">Edit</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </form>
    </body>

    <script type="text/javascript">
    $(function() {
      $("#who_assigned").on('input', function() {
        $.getJSON( "/search-username/q="+$('input[name="who_assigned"]').val())
          .done(function( json ) {
            console.log( "JSON Data: " + json[0] );
            var users = $('#users');
            users.html("");
            // place the first one in the hidden field
            $('#who_assigned_real').val(json[0][0]);
            for (var i=0; i<json.length; i++) {
              users.append("<tr>");
              users.append($("<td></td>").html(json[i][1]));
              users.append($("<td></td>").html(json[i][2]));
              users.append("</tr>");
            }
          })
          .fail(function( jqxhr, textStatus, error ) {
            users.append("No option selected; left blank.");
        });
      })
    });
    </script>
