{% include "header.html" %}



<div class="container-fluid">
  <h3 class="display-3">View Recent Tasks</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Who Assigned</th>
        <th scope="col">Stage</th>
        <th scope="col">Week</th>
        <th scope="col">Search Term</th>
        <th scope="col">Investors Found</th>
        <th scope="col"># of Progressing Investors</th>
        <th scope="col">Current State</th>
        <th scope="col">Accept/Reject</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <!-- t,w in all|sort(attribute='1.days')|list('1') -->

      {% for t,w in recent %}
        <tr>
          <th scope="row">{{ t.id }}</th>
          <td scope="row">{{ t.nickname }}</td>
          <td scope="row">{{ t.who_assigned }}</td>
          <td scope="row">{{ t.stage }}</td>
          <td scope="row">{{ w }}</td>
          <td scope="row">{{ t.search_term }}</td>
          <td scope="row">{{ t.num_inv_found }}</td>
          <td scope="row">{{ t.num_inv_progressing }}</td>
          <td scope="row">{{ t.state }}</td>
          <td scope="row"><a role="button" href="{{ url_for('accept_task', id=t.id)}}">Accept/</a><a role="button" href="{{ url_for('reject_task', id=t.id)}}">Reject</a></td>
          <td scope="row"><a role="button" href="{{ url_for('edit_task', id=t.id) }}">Edit</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3 class="display-3">Manage Tasks</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Who Assigned</th>
        <th scope="col">Stage</th>
        <th scope="col">Week</th>
        <th scope="col">Search Term</th>
        <th scope="col">Investors Found</th>
        <th scope="col"># of Progressing Investors</th>
        <th scope="col">Current State</th>
        <th scope="col">Accept/Reject</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for t,w in all %}
        <tr>
          <th scope="row">{{ t.id }}</th>
          <td scope="row">{{ t.nickname }}</td>
          <td scope="row">{{ t.who_assigned }}</td>
          <td scope="row">{{ t.stage }}</td>
          <td scope="row">{{ w }}</td>
          <td scope="row">{{ t.search_term }}</td>
          <td scope="row">{{ t.num_inv_found }}</td>
          <td scope="row">{{ t.num_inv_progressing }}</td>
          <td scope="row">{{ t.state }}</td>
          <td scope="row"><a role="button" href="{{ url_for('accept_task', id=t.id)}}">Accept/</a><a role="button" href="{{ url_for('reject_task', id=t.id)}}">Reject</a></td>
          <td scope="row"><a role="button" href="{{ url_for('edit_task', id=t.id) }}">Edit</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
