.form-check-label {
  color: grey;
}

.display-6 {
  margin-top: 10px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

a.navbar-brand {
    font-family: glacial-indefference, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:Yellow !important;
    letter-spacing: 1.4px;
    /*border-bottom: solid 1px #006600;*/
    text-transform: uppercase;
}

a.nav-link {
  font-family: glacial-indefference, sans-serif;
  font-size: 14px;
  font-weight: notmal;
  color:whitesmoke !important;
  letter-spacing: 1.2px;
}




Headbody{
  background-color: blue;
}

body {
    background-color: whitesmoke;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
